{%  extends "base.html"  %}

{%  block content  %}

{% if err %}
  {{err}}

{% else %}
<form method="post">
 <div style="display:inline block;">
   <label><strong>Title</strong></label>
   <input type="text" name="title"  value="{{post.title}}">
 </div>

 <div>
   <label><strong>Content</strong></label>
   <textarea  name="content">{{post.content}}</textarea>
 </div>

 {% if error %}
   <div>
     {{error}}
   </div>
 {% endif %}

 <button type="submit">Submit</button>
 <button type="button" onclick="window.location.href='/post/{{post.key().id()}}'">Cancel</button>

</form>

{% endif %}

{% endblock %}
